# TODO: Re-enable when `engines.node` is updated.
#
# eslint-find-rules@5.0.0 is too strict:
# > npm error notsup Not compatible with your version of node/npm: eslint-find-rules@5.0.0
# > npm error notsup Required: {"node":"^18.20 || ^20.18 || ^22.13 || >= 23.6"}
# > npm error notsup Actual:   {"npm":"11.0.0","node":"v22.12.0"}
# See https://github.com/ybiquitous/eslint-config-ybiquitous/actions/runs/12859873139/job/35850929131
#
# engine-strict = true
